  <!-- npm install express-ejs-layout => Fungsinya untuk menginstal package layout -->
  <!-- <h1>Ini halaman About.....</h1> -->

  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="img/rizky.png" alt="Rizky Perdana Nst" class="img-thumbnail rounded" width="200">
        <div class="display-4">Rizky Perdana Nst</div>
        <div class="lead">Student | Freelace</div>
      </div>
    </div>
  </div>
