
    <h1>Ini halaman Home</h1>
    <h1>Web Server NodeJS</h1>

    <!-- <% const name = "Rizky Perdana Nst"; %> -->
    <h2>Halo <%= nama %></h2>

    <h4>Daftar Mahasiswa</h4>
    <% if (mahasiswa.length < 1) { %>
     <p>Data Mahasiswa Masih Kosong...!</p>
    <% } %>
    <% mahasiswa.forEach(mhs => { %>
      <ul>
        <li>Nama : <%= mhs.nama %></li>
        <li>Email : <%= mhs.email %></li>
      </ul>
    <% }) %>
